<h1>What is a CRUD App</h1>
<p>At a high level, a CRUD apps consist of three parts; the database, user interface, and APIs.

</p>
<br>
<button (click)="submit()" class="btn btn-primary">click me</button>
<h2>Database</h2>
<p>The database is where your data is stored. A database management system is 
     used to manage the database. There are several different types of database <br>
     management systems (DBMS) that can be categorized by how they store data; 
      relational (SQL), Document (NoSQL). If you are deciding what DBMS to choose <br>
       for your CRUD app, here’s a list of the
       <a href="https://www.budibase.com/blog/best-database-management-software/">
           14 best database management systems</a> <br>
       . Going forward, our content will focus on SQL. SQL databases consist of tables.
        Tables consist of records. Records consist of fields. Fields consist of data. <br>

</p>
<img  src="https://d33wubrfki0l68.cloudfront.net/f59ac1b3061ba3ec0ce63903cf0f0ee5bbd7cab1/29cb0/blog/crud-app/images/create.webp" alt="">
