h1,
h2,
p {
  text-align: center;
}

img {
  height: 500px;
  width: 900px;
  margin-left: 17%;
}

h1 {
  margin-top: 4%;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
}
